.competition-section {
  background-color: #000000;
  color: white;
  padding: 40px 40px 40px 40px;
  margin-top: 80px;
}
.competition-heading {
  /* font-size: 4em; */
  font-size: clamp(35px, 3vw + 1rem, 65px);
  width: max-content;
  margin: 0 0 10px auto;
}
.competition-grid {
  display: flex;
  flex-direction: row;
  column-gap: 4%;
}
.competition-image {
  display: flex;
  justify-content: center;
  width: 60%;
}
.competition-image img {
  scale: 1;
  width: 80%;
  aspect-ratio: 16/9;
  transition: scale 0.5s;
}
.competition-image img:hover {
  scale: 1.04;
}
.competition-info {
  color: wheat;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: center;
  font-size: 2em;
}
.competition-info-row {
  display: none;
}
.competition-info div:nth-child(1) {
  font-size: 1.5em;
}

@media (max-width: 1500px) {
  .competition-grid {
    flex-direction: column-reverse;
    align-items: center;
    column-gap: 4%;
  }
  .competition-info {
    display: none;
  }
  .competition-info-row {
    color: wheat;
    display: flex;
    flex-direction: row;
    column-gap: 10%;
    justify-content: center;
    margin: 15px 0 20px 0;
    font-size: 1.3rem;
    width: 100%;
  }
  .competition-info-row > * {
    min-width: max-content;
  }
  .competition-image {
    width: 100%;
  }
  .competition-image img {
    width: 85%;
    height: 100%;
    object-fit: initial;
  }
}
@media (max-width: 1130px) {
  .competition-info-row {
    flex-wrap: wrap;
  }
}
@media (max-width: 1000px) {
  .competition-section {
    margin-top: 60px;
  }
}
@media (max-width: 900px) {
  .competition-info {
    font-size: 1.8em;
  }
}
@media (max-width: 750px) {
  .competition-info-row {
    font-size: 1.2rem;
  }
}

@media (max-width: 670px) {
  .competition-info-row {
    font-size: 1rem;
  }
}
@media (max-width: 575px) {
  .competition-info-row {
    font-size: 0.9rem;
  }
}
@media (max-width: 450px) {
  .competition-section {
    margin-top: 40px;
  }
}
