.background-section {
  /* background-color: #000000; */
  color: white;

  display: flex;
  flex-direction: row;
  margin-top: 80px;
}
.background {
  min-width: 50%;
  padding: 40px 40px 40px 40px;
}
.background-heading {
  /* font-size: 4em; */
  font-size: clamp(35px, 3vw + 1rem, 65px);
  margin-bottom: 10px;
}
.background-information {
  font-size: 20px;
  text-align: left;
}

.background-image {
  min-width: 40%;
  justify-content: center;
  align-content: center;

  width: 100%;
}

.background-image img {
  opacity: 0;
  scale: 0.8;
  width: 100%;
  transition: scale 0.5s;
}
.background-image img:hover {
  scale: 0.85;
}
@media (max-width: 1180px) {
  .background-section {
    flex-direction: column;
    align-items: center;
  }
  .background {
    padding: 40px 60px 40px 60px;
  }
  .background-image {
    width: 80%;
    padding: 0;
  }
  .background-image img {
    width: 100%;
  }
}

@media (max-width: 1000px) {
  .background-section {
    margin-top: 60px;
  }
}

@media (max-width: 700px) {
  .background-information {
    font-size: 15px;
  }
}
