.spec-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  color: white;
  padding: 40px 20px 0px 20px;
  margin-top: 80px;
}
.spec-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  column-gap: 10%;
  row-gap: 10%;
  justify-content: center;
  overflow: hidden;
}
.specification {
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  row-gap: 10px;
  font-size: 2em;
  margin-bottom: 35px;
  /* border: 1px solid red; */
}
.spec-image img {
  width: 200px;
  /* height: 100%; */
}
.spec-number-value {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(25px, 2vw + 1rem, 40px);
  color: wheat;
  text-align: center;
  width: max-content;
  padding: 2px 19px;
  /* height: 100%; */
  margin-top: 50px;
  /* margin-bottom: 30px; */
  border: 1px solid white;
}

.spec-name {
  font-size: clamp(35px, 2vw + 1rem, 70px);
}
.spec-name-col,
.spec-value-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.spec-description {
  font-size: clamp(15px, 1.5vw + 1rem, 30px);
  color: wheat;
}
.spec-heading {
  /* font-size: 4em; */
  font-size: clamp(35px, 3vw + 1rem, 65px);
  margin-bottom: 40px;
}
@media (max-width: 1170px) {
  .spec-grid {
    column-gap: 20%;
  }
  .spec-image img {
    width: 150px;
  }
}
@media (max-width: 1000px) {
  .spec-section {
    margin-top: 60px;
  }
}
@media (max-width: 550px) {
  .spec-grid {
    column-gap: 8%;
  }
}
@media (max-width: 450px) {
  .spec-section {
    margin-top: 40px;
  }
}
