.spec-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  color: white;
  padding: 40px 20px 40px 20px;
  margin-top: 80px;
}
.spec-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  column-gap: 10%;
  row-gap: 10%;
  justify-content: center;
  overflow: hidden;
}
.specification {
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  font-size: 1.2em;
  margin-bottom: 35px;
}
.spec-image img {
  width: 100%;
  height: 100%;
}
.spec-number-value {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4.5em;
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
}

.spec-name {
  font-size: 1.5em;
}
.spec-name-col,
.spec-value-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spec-heading {
  font-size: 4em;
  margin-bottom: 40px;
}
@media (max-width: 1170px) {
  .spec-grid {
    column-gap: 20%;
  }
  .spec-image {
    width: 250px;
  }
  .spec-number-value {
    font-size: 3.5em;
  }
}

@media (max-width: 790px) {
  .spec-name {
    font-size: 1.5em;
  }
}
@media (max-width: 700px) {
  .spec-heading {
    font-size: 3em;
  }
}
@media (max-width: 550px) {
  .spec-grid {
    column-gap: 8%;
  }
}
@media (max-width: 500px) {
  .spec-grid {
    /* font-size: 1.2em; */
  }
}
