body {
  background-color: black;
  color: white;
  font-family: "Ubuntu", sans-serif;
  overflow-x: hidden;
  font-family: jost, sans-serif;
  /* background-image: url("../images/background11.jpg"); */
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.hero-section{
  position:relative;
  width:100%;
  height: 50vh;
  overflow:hidden;
}


.fullscreen-image {
  height: 50vh;
  width: 100vw;
  object-fit: cover;
}

.headerText {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  background-color: #03030394;
  height: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerText h1 {
  font-size: 3rem;
  color: white;
  text-align: center;
  font-weight: bold;
}

.team-section {
  background-color: #09090976;
}

.subTeam {
  text-align: center;
  padding: 50px 0;
  font-size: 2rem;
  color: #f3f3f3;
  letter-spacing: 1px;
}

.row {
  display: grid;
  grid-template-columns: repeat(7,1fr);
  gap:20px;
  padding:20px;
  justify-content:center;

}

.card-container {
  perspective: 1000px;
  width: 200px;
  height: 250px;
  display: block;
  margin: 20px;
}

.card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  cursor: pointer;
  background: linear-gradient(145deg, #1d1d1d, #030303);
  border-radius: 15px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.card.flipped {
  transform: rotateY(180deg);
}

.card .front,
.card .back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 15px;
  text-align: center;
}

.card .front {
  z-index: 2;
}

h1 {
  text-align: center;
}

/* Flip the card on hover */
.card-container:hover .card {
  transform: rotateY(180deg);
}

.card .back {
  background: #0077b5;
  color: white;
  transform: rotateY(180deg);
}

.card .back a {
  text-decoration: none;
}

.card .back i {
  font-size: 50px;
  color: white;
  transition: transform 0.3s;
}

.card .back i:hover {
  transform: scale(1.2);
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #3a3a3a;
}
/* Responsive for tablets/ipads */

@media screen and (max-width: 900px) {
  .row{
    grid-template-columns: repeat(3,1fr)
  }

}

/* Responsive for iphones */

@media screen and (max-width: 650px) {
  .row{
    grid-template-columns: 1fr
  }

  .card-container {
    width: 90%;
    height: 300px;
    margin: 10px auto;
  }
}
