body {
  background-color: black;
  color: black;
  font-family: 'Ubuntu', sans-serif; /* Apply Ubuntu globally */
  overflow-x: hidden;
}

.content {
  background-image: url(./TeamPicTeamPage.jpg);
  background-size:cover;

}

.navigation-bar {
  background-color: rgba(0, 0, 0, 0.5);
}

.nav-shell ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 10px;
}

.nav-shell .otr-logo img {
  height: 50px;
  padding: 0 20px;
}

.nav-shell .link a {
  font-size: 1rem;
  color: white;
  padding: 0 10px;
  font-weight: 500;
}

.nav-shell .link a:hover {
  color: #ffab00; 
}

.subTeam{
  text-align: center;
  padding: 50px 0;
}

.fullscreen-image {
  height: 100vh;
  width: 100vw;
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center; /* Center text inside the card */
  padding: 30px 0;
}

.card img {
  display: block; /* Make the image a block element */
  margin: 0 auto; /* Center the image horizontally */
  height: 120px; /* Set a fixed height */
}

.column {
    float: left;
    width: 20%;
    margin-bottom: 100px;
    padding: 0 8px;
    height: 250px;
  }

  a{
    text-decoration: none;
    color: rgb(168, 214, 229);
    font-weight: bold;
  }
  
  h3, h1, p, .subTeam{
    color: white;
    text-align: center;
  }
  
  /* Display the columns below each other instead of side by side on small screens */
  @media screen and (max-width: 650px) {
    .column {
      width: 33.3%;
      display: block;
    }
  }
  
  /* Add some shadows to create a card effect */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  /* Some left and right padding inside the container */
  .container {
    padding: 0 16px;
  }

  .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  /* Clear floats */
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: white;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }