html {
  width: 100%;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Jost", Arial;
}
body {
  margin-top: 65px;
  background-color: rgb(25, 25, 25);
  /* background: linear-gradient(150deg, black 50%, #7b3922); */
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
img {
  cursor: pointer;
}
