.join-us-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 4rem;
  margin-left: 30px;
  margin-right: 30px;
  color: white;

  font-family: Jost, Arial;
  text-align: center;
  /* margin-bottom: 10rem; */
}

.join-us-image-container {
  display: flex;
  width: 40%;
}
.join-us-image {
  width: 100%;
  object-fit: contain;
}
.join-us-image:hover {
  scale: 1.03;
  transition: scale 0.6s;
}
.join-us-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 60px;
  max-width: 500px;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 500;
}
.bold {
  display: flex;
  font-size: 2.5rem;
  font-weight: 500;
}
.bar {
  width: 10px;
  margin-right: 20px;
  background-color: white;
}

.linktree-card {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.linktree-card a {
  text-decoration: none;
  width: 100%;
  max-width: 500px;
}

.linktree-content {
  background-color: #c04713;
  color: white;
  padding: 20px 30px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.linktree-content:hover {
  background-color: rgb(149, 49, 7);
  transform: scale(1.05);
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.4);
}

.join-team-title {
  color: white;
  font-size: clamp(35px, 3vw + 1rem, 55px);
  font-family: "Goldman", "sans-serif";
  text-align: center;
  margin-top: 90px;
  margin-bottom: 40px;
}

@media (max-width: 1400px) {
  .join-us-info {
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }
  .join-us-image-container {
    display: flex;
    width: 50%;
  }

  .join-us-info-container {
    text-align: center;
    align-items: center;
    max-width: 70%;
  }
  .bold {
    font-size: 2.2rem;
  }
}

@media (max-width: 950px) {
  .join-us-info-container {
    font-size: 1.1rem;
    max-width: 400px;
  }
  .bold {
    font-size: 2rem;
  }
}
