.slideshow {
  /* background-color: #000000; */
  color: white;
  padding: 40px 40px 150px 40px;
  margin-top: 80px;
}
.slideshow-heading {
  font-size: clamp(30px, 3vw + 1rem, 55px);
  font-family: "Goldman", "sans-serif";
  margin-bottom: 40px;
  font-weight: 700;
  text-align: center;
}
.slideshow-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  /* border: 1px solid red; */
}
.slideimage-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  width: 100%;
  /* border: red solid 1px; */
  overflow: hidden;
}
.slideshow-images {
  position: relative;
  display: flex;
  /* max-width: 1000px; */
  width: 100%;
  margin: auto;
  /* display: flex; */
}
.left-arrow,
.right-arrow {
  display: flex;
  align-items: center;
  width: 60px;
  height: max-content;
  padding: 8px;
  background-color: transparent;
  border: 1px solid transparent;
  position: absolute;
  /* top: 0; */
  bottom: -6rem;
  margin: auto 0;
  z-index: 101;
}

.left-arrow:hover,
.right-arrow:hover {
  border: 2px solid #0077ca;
  border-radius: 6px;
}

.left-arrow {
  left: 6rem;
}
.right-arrow {
  right: 6rem;
}

.left-arrow img,
.right-arrow img {
  width: 100%;
}

.display {
  display: block !important;
}
/* .slide-image-container {
  width: 100%;
  height: auto;
  max-height: 300px;
} */
.slideimage {
  display: none;
  max-width: 100%;
  height: auto;
  max-height: 300px;
  z-index: 100;
  object-fit: contain;
  /* border: 1px solid red; */
  transition: all;
  transition-duration: 150ms;
}
.slideimage:hover {
  transform: scale(1.05);
}
.fade {
  animation-name: fade;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}

.slide-fade-2 {
  animation: slide-fade-2 0.5s 0.1s ease-in both;
}

@keyframes slide-fade {
  0% {
    opacity: 0;
    scale: 110%;
  }
  100% {
    opacity: 0.3;
    scale: 100%;
  }
}
@keyframes slide-fade-2 {
  0% {
    opacity: 0;
    scale: 110%;
  }
  100% {
    opacity: 1;
    scale: 100%;
  }
}
@keyframes slide-fade-1 {
  0% {
    opacity: 0;
    scale: 110%;
  }
  100% {
    opacity: 0.3;
    scale: 100%;
  }
}

/* @media (max-width: 1500px) {
  .slideshow-images {
    width: 650px;
  }
  .slideshow-images .image {
    height: 700px;
  }
} */
@media (max-width: 1200px) {
  .left-arrow,
  .right-arrow {
    width: 50px;
  }
  /* .left-arrow {
    left: -65px;
  }
  .right-arrow {
    right: -65px;
  }
  .slideshow-images {
    width: 700px;
  }
  .slideshow-images .image {
    height: 650px;
  } */
}
/* @media (max-width: 1080px) {
  .slideshow-images {
    width: 700px;
  }
  .slideshow-images .image {
    height: 650px;
  }
} */
/* @media (max-width: 1000px) {
  .slideshow {
    margin-top: 60px;
  }
} */
/* @media (max-width: 900px) {
  .left-arrow {
    left: 26px;
  }
  .right-arrow {
    right: 26px;
  }

  .slideshow-images {
    width: 600px;
  }
  .slideshow-images .image {
    height: 550px;
  }
} */
@media (max-width: 720px) {
  .left-arrow,
  .right-arrow {
    width: 40px;
  }
  /* .slideshow-images {
    width: 500px;
  }
  .slideshow-images .image {
    height: 450px;
  }
  .slideshow-images .slideimage {
    height: 400px;
  } */
}
/* @media (max-width: 600px) {
  .slideshow-images {
    width: 400px;
  }
  .slideshow-images .image {
    height: 350px;
  }
}
@media (max-width: 480px) {
  .slideshow {
    padding-bottom: 40px;
  }
  .slideshow-images {
    width: 350px;
  }
  .slideshow-images .image {
    height: 350px;
  }
}
@media (max-width: 450px) {
  .slideshow {
    margin-top: 40px;
  }
} */
